
*~
*$py.class
build/
*.cover
.coverage
coverage.json
coverage.xml
data/*.db
develop-eggs/
dist/
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
.env
experience/successes/*.json
htmlcov/
.hypothesis/
# IDE
.idea/
.installed.cfg
lib/
lib64/
*.log
logs/
# Logs
# OS
parts/
__pycache__/
*.py[cod]
.pytest_cache/
# Python
.Python
sdist/
*.so
*.swo
*.swp
test_data/
# Testing
Thumbs.db
.tox/
var/
.vscode/
wheels/
